extends layout

block head

	//- prevent scaling to allow multi-touch without the browser fighting the user
	meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

	link(rel='stylesheet', href='/clientLibs/jquery-minicolors/jquery.minicolors.css')
	script(src='/clientLibs/jquery-minicolors/jquery.minicolors.js')

	script(src='/javascripts/vendor/smartboard-1.1.0.js')
	script(src='/socket.io/socket.io.js')

	script(src='/clientLibs/event_emitter/event_emitter.min.js')
	script(src='/clientLibs/jquery-qrcode/jquery.qrcode.min.js')

	!= css('style')

	!= js('Client')
	!= js('Layer')
block content
	h1= title
	.container
		.row
			.span10(id=holderName)
				#interactionLayer
			#controls.span2
				label(for='userNick') Name:
					input(type='text', id='userNick', name='userNick')
				label(for='colorPicker') Color:
					input(type='hidden', id='colorPicker', class='colorPicker', value='#000000')
				input#sessionInvite.btn(type='button', value='Invite others!')
				//- textarea(id='statusArea', editable='false', cols='8', rows='10')

	#myModal.modal.hide.fade
		.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h3 Invite Others

			.modal-body
				p Share this link with others to have them paint with you:
					br
					a#shareLink link loading...
				p or have them scan this QR code:
					#shareQR

			.modal-footer
				a.btn.btn-primary(data-dismiss='modal') Close
	script.
		initialPaintSessionID = '#{paintSession}';
		holderName = '#{holderName}';
	!= js('init')
